// --COLORS--//
$main-color: rgb(172, 9, 9);
$secundary-color: rgb(220, 235, 8);
$ternary-color:rgb(140, 151, 252);


// -- SIZES-- //
$header-height: 180px;
$footer-height: 220px;

// --FONTS--//
$font-size: 35px;
