// --COLORS--//
$main-color: rgb(172, 9, 9);
$secundary-color: rgb(156, 137, 28);
$ternary-color:rgb(229, 255, 0);


// -- SIZES-- //
$header-height: 180px;
$footer-height: 220px;

// --FONTS--//
$font-size: 35px;
