
@import "Partials/variables";
@import "Partials/mixins";
@import "Partials/functions";





$fontSize: big; // ** Premenna podmienok  ** ///


// font size moze mat hodnoty : small, normal a big

body
{
    width: em(1010px);
    background: $secundary-color;


// // Pokial je splnena ( if ) podmienka small == small ,tak font size 20px

//     @if $fontSize == small   
//     {
//         font-size: 20px;
//     }
// // Pokial nieje splnena podmienka ( else ) tak font size 12px //
//     @else 
//     {
//         font-size: 12px;
//     }




//     @if $fontSize == small   
//     {
//         font-size: 12px;
//     // Sem mozno zadavat cokolvek a upravi sa viac veci naraz
//     }


//     @else if $fontSize == normal
//     {
//         font-size: 16px;
//     // Sem mozno zadavat cokolvek a upravi sa viac veci naraz
//     }


//     @else if $fontSize == big
//     {
//         font-size: 20px;
//     // Sem mozno zadavat cokolvek a upravi sa viac veci naraz

//     }
   

h1, h2, p 
{
    color: $textColor;
}

       






}

.alert-button
{
    @include myButton;
    padding: em(5px) em(10px);
    @include shadow(20px 10px 15px rgb(0, 109, 0), 30px 30px 32px rgb(19, 16, 206));

}

.bigger-button
{
    @include myButton;
    padding: em(10px) em(25px);
    @include shadow(20px 10px 15px rgb(77, 66, 6), 30px 30px 50px rgb(255, 0, 200));

    font-size: 1em

}


p
{
    @include textStyle;
    font-size: em(18px);
    padding: em(20px)
}

h1
{
    @include textStyle;
    font-size: em(35px);
}


h2
{
    @include big-text;


    @include pizza
    {
        text-decoration: underline;
    }
}

img
{
    @include image;
    @include rounded(em(15px));
    @include shadow(20px 10px 35px 5px rgb(27, 6, 77), 30px 30px 50px rgb(255, 0, 200));


}

@include our-links;// vseobecna mixina



// Nesting ( vsadenie ) // // ** Proste sa to pise dokopy nie zvlast **//


// .first-list
// {
//     font-size: 23px;

//     li 
//     {
//         color: blue;
//     }

//     a 
//     {
//         text-decoration: none;
//     }


// }



a 
{
    color: $ternary-color;
    text-decoration: none;
    font-size: em(20px);



    @include coffee{
        color: rgb(121, 72, 17);
    }







    &:hover 
    {
      // *** Funkcie *** //
      color: lighten($color: $ternary-color, $amount: 40%);
    }

    // darken a lighten = stmavenie a zosvetlenie farieb ( ** FUNKCIE** )
}



// ** Funkcia rozsirenia @extend ** //

.normalNotifikation 
{
    color: white;
    font-size: em(20px);
    background: $main-color;
    width: em(220px);
    text-align: center;
}

.errorNotifikation
{
    @extend .normalNotifikation;
    border: em(2px) solid blue;
    padding: 2px;
}















// == CYKLY == //



// Cyklus ( @for ) navysenie o *5em premennej ( $i ) //


// @for $i from 1 through 6 {
//     .col-#{$i} {
//         width: $i * 5em;
//     }
// }




// == each cyklus == //

// list

$student: david, herry, ron, ed;

@each $oneStudent in $student {
    .#{$oneStudent}-profile {
        background-image: url("img/#{$oneStudent}.png");
    }
    
}



// == Map == // // Tiez cyclus  == ( @EACH ) == 

$font-size: (veru-small: 7px, small: 10px, medium: 15px, large: 20px);


@each $name, $size in $font-size {
    .#{$name} {
        font-size: $size;
    }

    
}