body {
  width: 63.125em;
  background: #dceb08;
}

body h1, body h2, body p {
  color: black;
}

.alert-button {
  background: #ff4400;
  color: #fff;
  border-radius: 15px;
  padding: 0.3125em 0.625em;
  box-shadow: 20px 10px 15px #006d00, 30px 30px 32px #1310ce;
}

.bigger-button {
  background: #ff4400;
  color: #fff;
  border-radius: 15px;
  padding: 0.625em 1.5625em;
  box-shadow: 20px 10px 15px #4d4206, 30px 30px 50px #ff00c8;
  font-size: 1em;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #990404;
  text-align: left;
  font-size: 1.125em;
  padding: 1.25em;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #990404;
  text-align: left;
  font-size: 2.1875em;
}

h2 {
  font-size: 45px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #421f8a;
  text-decoration: underline;
}

img {
  width: 400px;
  border-radius: 0.9375em;
  box-shadow: 20px 10px 35px 5px #1b064d, 30px 30px 50px #ff00c8;
}

a {
  font-style: italic;
  text-decoration: none;
  color: #8c97fc;
}

a {
  color: #8c97fc;
  text-decoration: none;
  font-size: 1.25em;
}

a:hover {
  color: white;
}

.normalNotifikation, .errorNotifikation {
  color: white;
  font-size: 1.25em;
  background: #ac0909;
  width: 13.75em;
  text-align: center;
}

.errorNotifikation {
  border: 0.125em solid blue;
  padding: 2px;
}

.david-profile {
  background-image: url("img/david.png");
}

.herry-profile {
  background-image: url("img/herry.png");
}

.ron-profile {
  background-image: url("img/ron.png");
}

.ed-profile {
  background-image: url("img/ed.png");
}

.veru-small {
  font-size: 7px;
}

.small {
  font-size: 10px;
}

.medium {
  font-size: 15px;
}

.large {
  font-size: 20px;
}

.picture-1 {
  width: 10%;
}

.picture-2 {
  width: 20%;
}

.picture-3 {
  width: 30%;
}

.picture-4 {
  width: 40%;
}
