
@import "Partials/variables";
@import "Partials/mixins";
@import "Partials/functions";





body
{
    background: $secundary-color;
    font-size: 16px
}

.alert-button
{
    @include myButton;
    padding: em(5px) em(10px);
    @include shadow(20px 10px 15px rgb(0, 109, 0), 30px 30px 32px rgb(19, 16, 206));

}

.bigger-button
{
    @include myButton;
    padding: em(10px) em(25px);
    @include shadow(20px 10px 15px rgb(77, 66, 6), 30px 30px 50px rgb(255, 0, 200));

    font-size: 1em

}


p
{
    @include textStyle;
    font-size: em(18px);
    padding: em(20px)
}

h1
{
    @include textStyle;
    font-size: em(35px);
}


h2
{
    @include big-text;
    @include shadowText(5px 5px 8px rgba(255, 255, 255, 0.734))
}

img
{
    @include image;
    @include rounded(em(15px));
    @include shadow(20px 10px 35px 5px rgb(27, 6, 77), 30px 30px 50px rgb(255, 0, 200));


}

@include our-links;// vseobecna mixina



// Nesting ( vsadenie ) // // ** Proste sa to pise dokopy nie zvlast **//


// .first-list
// {
//     font-size: 23px;

//     li 
//     {
//         color: blue;
//     }

//     a 
//     {
//         text-decoration: none;
//     }


// }



a 
{
    color: $ternary-color;
    text-decoration: none;
    font-size: em(20px);


    &:hover 
    {
      // *** Funkcie *** //
      color: lighten($color: $ternary-color, $amount: 40%);
    }

    // darken a lighten = stmavenie a zosvetlenie farieb ( ** FUNKCIE** )
}



// ** Funkcia rozsirenia @extend ** //

.normalNotifikation 
{
    color: white;
    font-size: em(20px);
    background: $main-color;
    width: em(220px);
    text-align: center;
}

.errorNotifikation
{
    @extend .normalNotifikation;
    border: em(2px) solid blue;
    padding: 2px;


}


